<div id="admin-main">
  <h2>Admin Options</h2>
  <a href="/quizzes"><button class="button">Manage Quizzes</button></a><br><br>
  <a href="/candidates"><button class="button">Manage Candidates</button></a>
</div>
